* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

.page-actions-container {
    height: 48px;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
    padding-left: 16px;
}

.page-action {
    margin: 8px;
    color: #f1f2f6;
}

.cellprop-actions-container {
    height: 48px;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.cellprop-actions-container > * {
    display: inline-block;
    margin-right: 16px;
}

.cellprop-actions-container > *:hover {
    cursor: pointer;
}

.cellprop-actions-container > select {
    border: none;
    border-radius: 2px;
    outline: none;
}

.font-family-prop {
    padding: 3.2px;
}

.font-size-prop {
    padding: 3.2px;
}

.formula-actions-container {
    height: 48px;
    background-color: #ecf0f1;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.formula-actions-container > * {
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-actions-container > input {
    border: none;
    outline: none;
    height: 55%;
}

.formula-icon {
    width: 1.3rem;
}

.address-bar {
    width: 64px;
    text-align: center;
}

.formula-bar {
    flex-grow: 1;
}

.sheet-actions-container {
    height: 32px;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
} 

.sheet-actions-container > * {
    display: inline-block;
}

.sheet-add-icon-container {
    width: 2vw;
}

.sheet-folder-container {
    height: 80%;
    width: calc(100vw - 2vw);
    display:flex;
    align-items: center;
}

.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    text-decoration-thickness: 2px;
}

.grid-container {
    height: calc(100vh - 3rem - 3rem - 3rem - 2rem);
    background-color: #ecf0f1;
    position: relative;
    overflow: auto;
}

.top-left-corner-cell {
    height: 32px;
    width: 32px;
    background-color: #747d8c;
    position: fixed;
    z-index: 2;
}

.address-col-container {
    position: sticky;
    top: 32px;
    left: 0px;
}

.address-row-container {
    height: 32px;
    display: flex;
    position: sticky;
    left: 32px;
    top: 0px;
}

.cells-container {
    position: absolute;
    top: 0;
    left: 32px;
}

.address-col {
    height: 32px;
    width: 32px;
    text-align: center;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-row {
    height: 32px;
    width: 80px;
    text-align: center;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-cell {
    height: 32px;
    display: flex;
}

.col-cell {
    height: 32px;
    width: 80px;
    border: 1px solid #dfe4ea;
    outline: none;
}

.color-property-container {
    position: relative;
}

.color-property-container > input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}