* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

.page-actions-container {
    height: 48px;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
    padding-left: 16px;
}

.page-action {
    margin: 8px;
    color: #f1f2f6;
}

.cellprop-actions-container {
    height: 48px;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.cellprop-actions-container > * {
    display: inline-block;
    margin-right: 16px;
}

.cellprop-actions-container > select {
    border: none;
    border-radius: 2px;
    outline: none;
}

.font-family-prop {
    padding: 3.2px;
}

.font-size-prop {
    padding: 3.2px;
}

.formula-actions-container {
    height: 48px;
    background-color: #ecf0f1;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.formula-actions-container > * {
    display: inline-block;
    margin-right: 0.7rem;
}

.formula-actions-container > input {
    border: none;
    outline: none;
    height: 55%;
}

.formula-icon {
    width: 1.3rem;
}

.address-bar {
    width: 64px;
}

.formula-bar {
    flex-grow: 1;
}

.sheet-actions-container {
    height: 32px;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
} 

.sheet-actions-container > * {
    display: inline-block;
}

.sheet-add-icon-container {
    width: 2vw;
}

.sheet-folder-container {
    height: 80%;
    width: calc(100vw - 2vw);
    display:flex;
    align-items: center;
}

.sheet-folder {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    text-decoration-thickness: 2px;
}

.grid-container {
    height: calc(100vh - 3rem - 3rem - 3rem - 2rem);
    background-color: lightgray;
}